.button {
    margin: 0 auto;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    transition: background-color var(--animation), box-shadow var(--animation);

    &:hover,
    &:focus {
        background-color: var(--hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}