.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects__link {
    transition: box-shadow var(--animation);
    display: block;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects__box {
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--animation);

    .projects__link:hover & {
        transform: translateY(0%);
    }
}

.overlay__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;
    font-size: 18px;
    line-height: calc(28 / 18);
    color: var(--white-color);
    text-align: left;
}

.wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px solid #EEEEEE;
    border-top: none;
    padding-left: 24px;
    padding-right: 24px;
}

.wrapper__title {
    margin-bottom: 4px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.wrapper__text {
    font-size: 16px;
    line-height: 1.87;
}