.duit {
    padding-top: 0;
}

.duit__list {
    display: flex;
    gap: 30px;
}

.duit__cards {
    position: relative;
}

.duit__box {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    font-weight: 700;
    line-height: calc(16 / 14);
    color: var(--white-color);
}