/* clients */

.clients {
    display: flex;  
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.clients__link {  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    color: var(--icons-color);
    border: 1px solid var(--icons-color);
    border-radius: 4%;
    transition: border-color var(--animation), color var(--animation);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px){
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.clients__Icons {
    fill: currentColor;
}