.teem {
    background-color: var(--teem-bg-cl);
}

.teem__list {
    display: flex;
    gap: 30px;
}

.teem__item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.teem__box {
    padding: 30px 10px;
}

.teem__title {
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 10px;
}

.teem__title,
.teem__text {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    margin-bottom: 16px;
}

.networks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.networks__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icons-color);
    transition: background-color var(--animation), color var(--animation);
    
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
    }
}

.networks__icons {
    fill: currentColor;
}