.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
}

.checkbox__icons--check {
    opacity: 0;
    transition: opacity var(--animation);

    .checkbox__input:checked+.checkbo__icons & {
        opacity: 1;
    }
}

.checkbox__icons--ancheck {
    transition: opacity var(--animation), fill var(--animation);

    .checkbox__input:focus+.checkbo__icons & {
        fill: var(--accent-color);
    }

    .checkbox__input:checked+.checkbo__icons & {
        opacity: 0;
    }
}

.checkbox__text {
    user-select: none;
    font-size: 14px;
    line-height: calc(24 / 14);
    text-underline-position: under;
}

.checkbox__link {
    color: var(--accent-color);
}