.form {
    width: 448px;
}

.form__title {
    display: block;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 19px;
    line-height: calc(23 / 19);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.form__group {
    margin-bottom: 20px;
}

.form__label {
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    &:last-child {
        margin-bottom: 0;
    }
}

.form__text {
    display: block;
    text-align: left;
    margin-bottom: 4px;
}

.form__input {
    padding-left: 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: outline-color var(--animation);

    &:focus {
        outline-color: var(--accent-color);
    }

    &.form__input--dimensions {
        width: 448px;
        height: 120px;
        resize: none;
        padding: 12px 16px;
    }
}

.form__icons {
    position: absolute;
    left: 12px;
    bottom: 11px;
    transition: fill var(--animation);

    .form__input:focus-within+&,
    .form__input:hover+& {
        fill: var(--accent-color);
    }
}